body {
    font-family: 'Montserrat', sans-serif;
}

p:nth-of-type(1) {
    font-weight: 100;
}
p:nth-of-type(2) {
    font-weight: 200;
}
p:nth-of-type(3) {
    font-weight: 300;
}
p:nth-of-type(4) {
    font-weight: 400;
}
p:nth-of-type(5) {
    font-weight: 500;
}
p:nth-of-type(6) {
    font-weight: 600;
}
p:nth-of-type(7) {
    font-weight: 700;
}
p:nth-of-type(8) {
    font-weight: 800;
}
p:nth-of-type(9) {
    font-weight: 900;
}

p:nth-of-type(10) {
    font-style: normal;
}
p:nth-of-type(11) {
    font-style: italic;
}
p:nth-of-type(12) {
    font-style: oblique;
}

p:nth-of-type(13) {
    letter-spacing: normal;
}
p:nth-of-type(14) {
    letter-spacing: -2px;
}
p:nth-of-type(15) {
    letter-spacing: 2px;
}

p:nth-of-type(16) {
    text-transform: capitalize;
}
p:nth-of-type(17) {
    text-transform: uppercase;
}
p:nth-of-type(18) {
    text-transform: lowercase;
}
p:nth-of-type(19) {
    text-transform: none;
}
p:nth-of-type(20) {
    text-transform: full-width;
}

p:nth-of-type(21) {
    text-decoration: underline;
}
p:nth-of-type(22) {
    text-decoration: underline dotted;
}
p:nth-of-type(23) {
    text-decoration: underline dotted red;
}
p:nth-of-type(24) {
    text-decoration: green wavy underline;
}
p:nth-of-type(25) {
    text-decoration: underline overline #FF3028;
}