body {
    margin: 3em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #666;
}

h1, h2 {
    color: white;
}

blockquote, figure {
    margin: 1em 0;
}

figure figcaption, .comment {
    color: gray;
    font-style: italic;
}

blockquote p {
    margin: 0;
}

section {
    margin: 1em 0;
    border: 1px solid gray;
    padding: 0.5em 1em;
    background-color: #ffffff;
}
